body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

h3 {
    font-size: 1.5em;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 1em;
    color: #999;
}