<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件下载</title>
    <link rel="stylesheet" th:href="@{/css/download.css}">
</head>
<body>
<div align="center"><h2>欢迎来到下载页面！</h2></div>
<div>
    <div class="search-container">
        <input id="search-input" placeholder="输入关键词" type="text">
        <button id="search-btn">搜索</button>
    </div>
</div>
<div align="center" style="margin-bottom: 10px">文件下载列表：</div>
<table>
    <tr>
        <td>bloglogo.jpg</td>
        <td>
            <button><a th:href="@{/download(filename='bloglogo.jpg')}">下载文件</a></button>
        </td>
    </tr>
    <tr>
        <td>Spring数据访问.docx</td>
        <td>
            <button><a th:href="@{/download(filename='Spring数据访问.docx')}">下载文件</a></button>
        </td>
    </tr>
</table>
<div align="center" style="margin-bottom: 10px"><p>发哥下载 · 快网2023</p></div>
</body>
</html>
