<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>影视直播厅</title>
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
</head>

<body style="font-family: Arial, sans-serif; background-color: #f2f2f2;">

<h1 align="center" style="color: #333;">欢迎进入电影网站首页</h1>

<!--<div sec:authorize="isAnonymous()" style="text-align: center; margin-bottom: 20px;">
    <h2>游客您好，如果想查看电影<a style="color: #007bff; text-decoration: none;" th:href="@{/userLogin}">请登录</a></h2>
</div>

<div sec:authorize="isAuthenticated()" style="text-align: center; margin-bottom: 20px;">
    <h2><span sec:authentication="name" style="color: #007bff"></span>
        您好，您的用户权限为<span sec:authentication="principal.authorities"
                                 style="color:darkkhaki"></span>，您有权观看以下电影</h2>
    <form method="post" style="display: inline-block;" th:action="@{/mylogout}">
        <input type="submit" value="注销"/>
    </form>
</div>-->

<form method="post" style="display: inline-block;" th:action="@{/mylogout}">
    <input type="submit" value="注销"/>
</form>

<hr size="2px" style="border-top: 1px solid #ccc;">

<div sec:authorize="hasRole('common')" style="margin-bottom: 20px;">
    <h3 style="color: #333;">普通电影</h3>
    <ul style="list-style-type: none; padding: 0;">
        <li><a style="color: #007bff; text-decoration: none;" th:href="@{/detail/common/1}">飞驰人生</a></li>
        <li><a style="color: #007bff; text-decoration: none;" th:href="@{/detail/common/2}">夏洛特烦恼</a></li>
    </ul>
</div>

<div sec:authorize="hasAnyAuthority('ROLE_vip')" style="margin-bottom: 20px;">
    <h3 style="color: #333;">VIP专享</h3>
    <ul style="list-style-type: none; padding: 0;">
        <li><a style="color: #007bff; text-decoration: none;" th:href="@{/detail/vip/1}">速度与激情 The Fast and the
            Furious (2001)</a></li>
        <li><a style="color: #007bff; text-decoration: none;" th:href="@{/detail/vip/2}">猩球崛起 Rise of the Planet of
            the Apes (2011)</a></li>
        <li><a style="color: #007bff; text-decoration: none;" th:href="@{/detail/vip/3}">肖申克的救赎 The Shawshank
            Redemption (1994)</a></li>
    </ul>
</div>

<span align="center"><p style="color: #666;">发哥电影网</p></span>

</body>

</html>
