<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>用户登录界面</title>
    <link rel="stylesheet" th:href="@{/login/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/login/css/signin.css}">
    <script>
        function showCurrentTime() {
            var currentTime = new Date();
            document.getElementById("currentTime").innerHTML = currentTime.toLocaleString();
        }
    </script>
</head>
<body class="text-center" onload="showCurrentTime()">
<form class="form-signin" th:action="@{/userLogin}" th:method="post">
    <img class="mb-4" height="72px" th:src="@{/login/img/login.jpg}" width="72px">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <!-- 用户登录错误信息提示框 -->
    <div style="color: red;height: 40px;text-align: left;font-size: 1.1em" th:if="${param.error}">
        <img th:src="@{/login/img/loginError.jpg}" width="20px">用户名或密码错误，请重新登录！
    </div>
    <input autofocus="" class="form-control" name="name" placeholder="用户名" required="" type="text">
    <input class="form-control" name="pwd" placeholder="密码" required="" type="password">
    <div class="checkbox mb-3">
        <label>
            <input name="rememberme" type="checkbox"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <div>
        <p></p>
        <span><p id="currentTime"></p></span>
    </div>
    <div>
        <a class="btn btn-sm" th:href="@{/toLoginPage(l='zh_CN')}">中文</a>
        <a class="btn btn-sm" th:href="@{/toLoginPage(l='en_US')}">English</a></div>
</form>
</body>
</html>
